<link rel="stylesheet" href="style.css">
<section class="split-pane">
  <div class="left"> <img src="http://bit.ly/bcr-dev"/>
    <div class="text-content">
      <p>Select</p>
      <p class="big">Player 1</p>
    </div>
      <button id="human" value="human" onclick="getHuman()">Human</button>
      <button id="easy" value="easy" onclick="getEasy()">Easy Computer</button>
      <button id="medium" value="medium" onclick="getMedium()">Medium Computer</button>
      <button id="hard" value="hard" onclick="getHard()">Hard Computer</button>
  </div>
  <div class="right"><img src="http://bit.ly/bcr-dev"/>
    <div class="text-content">
      <p>Select</p>
      <p class="big">Player 2</p>
    </div>
      <button id="human2" value="human" onclick="getHuman2()">Human</button>
      <button id="easy2" value="easy" onclick="getEasy2()">Easy Computer</button>
      <button id="medium2" value="medium" onclick="getMedium2()">Medium Computer</button>
      <button id="hard2" value="hard" onclick="getHard2()">Hard Computer</button>
  </div>
</section>
<div class="vs">VS</div>
  <div class="submit-field">
    <form type="post" action="game">
      <input type="hidden" id="p1" name="p1" value="oi">
      <input type="hidden" id="p2" name="p2" value="oi">
      <input type="submit" class="submit">
    </form>
  </div>
<script>
  function getHuman()
  {
    document.getElementById("p1").value = document.getElementById("human").value;
  }
  function getEasy()
  {
    document.getElementById("p1").value = document.getElementById("easy").value;
  }
  function getMedium()
  {
    document.getElementById("p1").value = document.getElementById("medium").value;
  }
  function getHard()
  {
    document.getElementById("p1").value = document.getElementById("hard").value;
  }


  function getHuman2()
  {
    document.getElementById("p2").value = document.getElementById("human2").value;
  }
  function getEasy2()
  {
    document.getElementById("p2").value = document.getElementById("easy2").value;
  }
  function getMedium2()
  {
    document.getElementById("p2").value = document.getElementById("medium2").value;
  }
  function getHard2()
  {
    document.getElementById("p2").value = document.getElementById("hard2").value;
  }
</script>