<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="scripts.js"></script>
</head>
<link rel="stylesheet" href="style.css">
<section id="pane" class="split-pane">
  <div id="exam" class="left"> <img src="images/player.png"/>
    <div class="text-content">
      <p>Select</p>
      <p class="big">Player 1</p>
    </div>
      <button id="human" value="human" onclick="getHuman()">Human</button>
      <button id="easy" value="easy" onclick="getEasy()">Easy Computer</button>
      <button id="medium" value="medium" onclick="getMedium()">Medium Computer</button>
      <button id="hard" value="hard" onclick="getHard()">Hard Computer</button>
  </div>
  <div class="right"><img src="images/player.png"/>
    <div class="text-content">
      <p>Select</p>
      <p class="big">Player 2</p>
    </div>
      <button id="human2" value="human" onclick="getHuman2()">Human</button>
      <button id="easy2" value="easy" onclick="getEasy2()">Easy Computer</button>
      <button id="medium2" value="medium" onclick="getMedium2()">Medium Computer</button>
      <button id="hard2" value="hard" onclick="getHard2()">Hard Computer</button>
  </div>
</section>
<section id="exam" >
  <div id="vs" class="vs">VS</div>
  <div class="submit-field">
    <form id="sub" type="post" action="game">
      <input type="hidden" id="p1" name="p1" value="">
      <input type="hidden" id="p2" name="p2" value="">
      <input id="moving" type="submit" class="submit" value="Let's go!">
    </form>
  </div>
</section>