<link rel="stylesheet" href="style.css">

<header class="selection-header">Choose your players for Tic Tac Toe:</header>

<body>
<section class="selection-bttns">
<div class="dropdown">
  <button class="dropbtn">Player 1</button>
  <div class="dropdown-content" style="left:0;">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
  </div>
</div>

<div class="dropdown">
  <button class="dropbtn">Player 2</button>
  <div class="dropdown-content" style="left:0;">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
  </div>
</div>
</section>
</body>