<link rel="stylesheet" href="style.css">
<section class="split-pane">
  <div class="left"> <img src="http://bit.ly/bcr-dev"/>
    <div class="text-content">
      <p>Select</p>
      <p class="big">Player 1</p>
    </div>
    <form>
      <button>Show me the design</button>
    </form>
  </div>
  <div class="right"><img src="http://bit.ly/bcr-dev"/>
    <div class="text-content">
      <p>Select</p>
      <p class="big">Player 2</p>
    </div>
    <form>
      <button>Show me the code</button>
    </form>
  </div>
  <div class="vs">VS</div>
</section>