/*@import url("https://dl.dropboxusercontent.com/u/2821967/fonts/proxima-nova.css");*/
html{
  background-image: url(images/left.png);
  background-size: cover;
  background-position: center;
}

body {
  height: 100vh;
  margin: 0;
  font-family: 'Lato', 'Arial', sans-serif;;
}

@media (min-width: 850px) {
  .split-pane {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    position: relative;
  }
}
.left {
  background-image: url(images/left.png);
  background-size: cover;
  background-position: center;
}

.right {
  background-image: url(images/right.png);
  background-size: cover;
  background-position: center;
}

.right,
.left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.right img,
.left img {
  width: 48px;
}
.right button,
.left button {
  background: transparent;
  border: 1px solid white;
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 30px;
  text-transform: uppercase;
  color: white;
}
.right button:hover,
.left button:hover {
  color: blue;
  cursor: pointer;
  background-color: white;
}

@media (min-width: 850px) {
  .right,
  .left {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    height: 100vh;
  }
}

.submit {
  background: transparent;
  border: 1px solid white;
  border-radius: 5px;
  padding: 1rem;
  text-transform: uppercase;
  color: white;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

table.center {
  margin-left: auto;
  margin-right: auto;
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.boardleft{
  height: 100vh;
  margin: 0;
  font-family: 'Lato', 'Arial', sans-serif;
  background-image: url("images/left.png");
  background-size: cover;
  background-position: center;
}

.boardright{
  height: 100vh;
  margin: 0;
  font-family: 'Lato', 'Arial', sans-serif;
  background-image: url("images/right.png");
  background-size: cover;
  background-position: center;
}

.square{
    width:200px;
    height:200px;
    text-align: center;
}

.v{
    border-left:5px solid #000;
    border-right:5px solid #000;
}

.h{
    border-top:5px solid #000;
    border-bottom:5px solid #000;
}

.tttbutton{
  background: rgba(0,0,0,0);
  outline: none;
  font-size: 50px; 
  border: none;
}

button[value~="X"] {
  color: #760d0d;
  -webkit-text-stroke: 2px #760d0d;
}

button[value~="O"] {
  color: #0e0e73;
  -webkit-text-stroke: 2px #0e0e73;
}

.submit-field {
  position: fixed;
  top: 60%;
  margin-left: 47.8%;
  margin-right: -50%;
  text-align: center;
}

.submit:hover {
  color: blue;
  cursor: pointer;
  background-color: white;
}

.title {
  position: fixed;
  top: 30%;
  font-size: 3rem;
  text-transform: uppercase;
  color: white;
  text-align: center;
}
.vs {
  position: fixed;
  top: 45%;
  margin-left: 48.3%;
  margin-right: -50%;
  font-size: 3rem;
  text-transform: uppercase;
  color: white;
  text-align: center;
}

.text-content {
  color: white;
  font-size: 2rem;
  text-align: center;
  margin: 1rem 0;
}
.text-content p {
  margin: 0;
  line-height: 1.2;
}

.big {
  font-size: 3rem;
  text-transform: uppercase;
}